<tr class="<%= message.identifier == 'Me' ? 'from-me' : 'from-other' %>">
  <td class="sender"><%= message.identifier %></td>
  <td class="message">
    <% if message.cache_has_attachments? %>
      <% message.attachments.each do |a| %>
        <%= attachment_image_tag a, style: "max-width: 90%; max-height: 200px" %>
      <% end %>
    <% end %>

    <%= auto_link(simple_format(message.text_for_chat), html: { target: "_blank" }) %>
  </td>
  <td class="sent-at">
    <small><%= datetime(DateTime.parse(message.sent_at)) %></small>
  </td>
</tr>
