<div class="row no-gutters">
  <div id="conversations" class="col-3">
    <div class="scroll">
      <div class="list-group list-group-flush">
        <%= render Chat.for_conversations %>
      </div>
    </div>
  </div>

  <div id="chat" class="col-9">
    <h1><%= @chat.identifiers %></h1>

    <div class="scroll">
      <table data-chat="<%= @chat.id %>" class="chat-view">
        <tbody>
          <%= render @chat.messages.for_chat.last(50) %>
        </tbody>
      </table>
    </div>

    <%= bootstrap_form_with(model: [@chat, Message.new], local: false, id: "message-form", class: "form-inline") do |f| %>
      <div class="form-row">
        <div class="col-10">
          <%= f.hidden_field :chat_id, value: @chat[:ROWID] %>
          <%= f.hidden_field :conversation_id, value: @chat.guid %>
          <%= f.text_area :text, hide_label: true, class: "w-100" %>
        </div>

        <div class="col">
          <%= f.submit "Send", class: "btn btn-primary w-100 btn-sm mb-1" %>
          <%= f.file_field :attachment, placeholder: "Attach", hide_label: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>
