<p id="notice"><%= notice %></p>

<h1><%= name_from_number(@chat.identifiers) %></h1>

<div id="chat">
  <table>
    <tbody>
      <% @chat.messages_with_handles.each do |message| %>
        <tr>
          <td class="sender"><%= name_from_number(message.identifier) %></td>
          <td>
            <% if message.cache_has_attachments? %>
              <% message.attachment.each do |a| %>
                <%= attachment_image_tag a, style: "max-width: 90%" %>
              <% end %>
            <% end %>
            <%= simple_format message.text&.strip %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= form_with(model:  [@chat, Message.new], local: false) do |f| %>
  <%= f.hidden_field :chat_id, value: @chat[:ROWID] %>
  <%= f.hidden_field :conversation_id, value: @chat.guid %>
  <%= f.text_area :text %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>

<%= link_to 'Back', chats_path %>
