<p id="notice"><%= notice %></p>

<h1><%= name_from_number(@chat.identifiers) %></h1>

<div id="chat" data-chat="<%= @chat.id %>">
  <table class="chat-view">
    <tbody>
      <%= render @chat.messages.for_chat %>
    </tbody>
  </table>
</div>

<%= form_with(model:  [@chat, Message.new], local: false, id: "message-form") do |f| %>
  <%= f.hidden_field :chat_id, value: @chat[:ROWID] %>
  <%= f.hidden_field :conversation_id, value: @chat.guid %>
  <%= f.text_area :text %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>

<%= link_to 'Back', chats_path %>
